Does the China's Non-recyclable Waste Plastic Ban Worked?
=======

**INTRODUCTION**

Last time, we checked out the effect of China's Non-recyclable Waste Plastic (NRWP) Ban to other countries. Through the whole process, we finally got to know Thailand and Indonesia's NRWP amount had been increased.
In this section, let's check out the ban's effectiveness was whether feasible or non-feasible with T-test method.

For the T-test, I had to gather other dataset from UN Comtrade. Before touting myself, I want to show the new dataset for this analysis.

<br/>
<br/>

**NEW DATASET WELCOMING**
1. Thailand Case
 - **_16-18 Thailand Waste Plastic.csv_** : This data contains Thailand's waste plastic trade information: Import, Export, Re-Import, Re-Export with several countries. However, we just need Import data. And then, we are going to extract NRWP import data by countries in 2018.
 - **_thai 1116 import refined.csv_** : This data contains Thailand's waste plastic import information from several countries from 2011 to 2016. I refined the data for T-test, so it just has 'Netweight (kg)' columns.


2. Indonesia Case
 - **_16-18 Indonesia Waste Plastic.csv_** : Same as Thailand's case.
 - **_indo 1116 import refined.csv_** : Same as Thailand's case.

<br/>
<br/>

**HYPOTHESIS**
1. My assumption : China's NRWP ban in 2017 affect the 2018 import amount of Thailand and Indonesia.
2. Null-hypothesis : The ban **hadn't impacted** to the NRWP import amount of Thailand and Indonesia.
3. Alternative-hypothesis : The ban **had impacted** to the NRWP import amount of Thailand and Indonesia.
Okay, we are ready to understand the new NRWP trade for Thailand and Indonesia by T-test method. <br/>
First of all, let's see Thailand's case.

In [1]:
import numpy as np
import pandas as pd
from scipy import stats

In [3]:
# Let's import '16-18_Thailand Waste Plastic.csv' to extract Thailand's import data in 2018 
# and check it if the data is correct.
thai2018_import = pd.read_csv('Capstone 2/16-18_Thailand Waste Plastic.csv')
thai2018_import = thai2018_import[(thai2018_import['Year'] == 2018) & (thai2018_import['Trade Flow'] == 'Import')
                                 & (thai2018_import['Partner'] != 'World')]
thai2018_import.head()

,Classification,Year,Period,Period Desc.,Aggregate Level,Is Leaf Code,Trade Flow Code,Trade Flow,Reporter Code,Reporter,...,Partner,Partner ISO,Commodity Code,Commodity,Qty Unit Code,Qty Unit,Qty,Alt Qty Unit,Netweight (kg),Trade Value (US$)
4,H5,2018,2018,2018,4,0,1,Import,764,Thailand,...,Argentina,ARG,3915,"Waste, parings and scrap, of plastics",8,Weight in kilograms,NaN,48485,48485,4689
5,H5,2018,2018,2018,4,0,1,Import,764,Thailand,...,Australia,AUS,3915,"Waste, parings and scrap, of plastics",8,Weight in kilograms,NaN,23405132,23405132,4037317
7,H5,2018,2018,2018,4,0,1,Import,764,Thailand,...,Austria,AUT,3915,"Waste, parings and scrap, of plastics",8,Weight in kilograms,NaN,37380,37380,3525
9,H5,2018,2018,2018,4,0,1,Import,764,Thailand,...,Bahrain,BHR,3915,"Waste, parings and scrap, of plastics",8,Weight in kilograms,NaN,26000,26000,2547
11,H5,2018,2018,2018,4,0,1,Import,764,Thailand,...,Bangladesh,BGD,3915,"Waste, parings and scrap, of plastics",8,Weight in kilograms,NaN,299492,299492,30217

In [4]:
# Let the 'thai2018_import' dataframe to be a brief dataframe to make it easier to T-test.
thai2018_import = thai2018_import['Netweight (kg)']
thai2018_import = pd.DataFrame(thai2018_import)

Until now on, it worked well. <br/>
From now, let's extract Thailand import data from 2011 to 2016 from naive UN comtrade data which already downloaded.

In [14]:
# Read 2011~2015 data first and merge with 2016 data, 
# because I only can download 5 years data at one time on website.
thai_1115 = pd.read_csv('Capstone 2/thai_comtrade.csv')
thai_16 = pd.read_csv('Capstone 2/thai_comtrade (1).csv')
thai_1116 = thai_1115.append(thai_16)
thai_1116_import = thai_1116[thai_1116['Trade Flow']=='Import']
thai_1116_import = thai_1116_import.drop('Partner'=='World')
thai_1116_import = thai_1116_import.sort_values(by='Year', ascending=True)
thai_1116_import = thai_1116_import['Netweight (kg)']
thai_1116_import = pd.DataFrame(thai_1116_import)

Now, let's do T-test analysis. How it looks like.

In [15]:
stats.ttest_ind(thai2018_import, thai_1116_import)

Ttest_indResult(statistic=array([3.56477987]), pvalue=array([0.00038943]))

Yes, the P-value is under 5%. It is almost 0.03%.
This means that the null-hypothesis is rejected and alternative-hypothesis is accepted.

<br/>

Now, let's looking into Indonesia case in the same way of Thailand's

In [16]:
# Let's import '16-18_Indonesia Waste Plastic.csv' to extract Indonesia's import data in 2018 
# and check it if the data is correct.
indo18 = pd.read_csv('Capstone 2/16-18_Indonesia Waste Plastic.csv')
indo18_import = indo18[(indo18['Trade Flow']=='Import') & (indo18['Partner'] != 'World')]
indo18_import.head()

,Classification,Year,Period,Period Desc.,Aggregate Level,Is Leaf Code,Trade Flow Code,Trade Flow,Reporter Code,Reporter,...,Partner,Partner ISO,Commodity Code,Commodity,Qty Unit Code,Qty Unit,Qty,Alt Qty Unit,Netweight (kg),Trade Value (US$)
2,H5,2018,2018,2018,4,0,1,Import,360,Indonesia,...,Australia,AUS,3915,"Waste, parings and scrap, of plastics",8,Weight in kilograms,NaN,18638694,18638694,7353815
5,H5,2018,2018,2018,4,0,1,Import,360,Indonesia,...,Belgium,BEL,3915,"Waste, parings and scrap, of plastics",8,Weight in kilograms,NaN,8262372,8262372,1826262
9,H5,2018,2018,2018,4,0,1,Import,360,Indonesia,...,Canada,CAN,3915,"Waste, parings and scrap, of plastics",8,Weight in kilograms,NaN,3304643,3304643,512127
11,H5,2018,2018,2018,4,0,1,Import,360,Indonesia,...,Chile,CHL,3915,"Waste, parings and scrap, of plastics",8,Weight in kilograms,NaN,17870,17870,8935
12,H5,2018,2018,2018,4,0,1,Import,360,Indonesia,...,China,CHN,3915,"Waste, parings and scrap, of plastics",8,Weight in kilograms,NaN,1747414,1747414,1031467

Keep going to make the dataframe simple for T-test.

In [17]:
indo18_import = pd.DataFrame(indo18_import['Netweight (kg)'].reset_index(drop=True))

Let's extract Indonesia import data from 2011 to 2016 from naive UN comtrade data which already downloaded.  
I am going to merge two data sets because as I mentioned above, I only can download 5 years data at one time.

In [18]:
# Import data and merge it then check it went well.
indo1115 = pd.read_csv('Capstone 2/indo_comtrade.csv')
indo16 = pd.read_csv('Capstone 2/indo_comtrade (1).csv')
indo1116 = indo1115.append(indo16)
indo1116.sort_values(by='Year', ascending=False).head()

,Year,Trade Flow,Reporter Code,Reporter,Reporter ISO,Partner Code,Partner,Partner ISO,Commodity Code,Commodity,Qty Unit Code,Qty Unit,Qty,Alt Qty Unit,Netweight (kg),Trade Value (US$)
178,2016,Export,360,Indonesia,IDN,842,USA,USA,391590,"Plastics n.e.c. in heading no. 3915; waste, pa...",8,Weight in kilograms,NaN,433,433,1003
66,2016,Import,360,Indonesia,IDN,826,United Kingdom,GBR,3915,"Waste, parings and scrap, of plastics",8,Weight in kilograms,NaN,3848013,3848013,495592
64,2016,Export,360,Indonesia,IDN,784,United Arab Emirates,ARE,3915,"Waste, parings and scrap, of plastics",8,Weight in kilograms,NaN,48995,48995,7362
63,2016,Import,360,Indonesia,IDN,784,United Arab Emirates,ARE,3915,"Waste, parings and scrap, of plastics",8,Weight in kilograms,NaN,135090,135090,40527
62,2016,Export,360,Indonesia,IDN,764,Thailand,THA,3915,"Waste, parings and scrap, of plastics",8,Weight in kilograms,NaN,146660,146660,48783

Let's make the dataset as simple as possible for T-test.

In [19]:
indo1116_import = indo1116[(indo1116['Trade Flow']=='Import') & (indo1116['Partner'] != 'World')]
indo1116_import = pd.DataFrame(indo1116_import['Netweight (kg)'].reset_index(drop=True))

All data sets are ready for T-test.  
Let's do T-test with Indonesia data.

In [20]:
stats.ttest_ind(indo18_import, indo1116_import)

Ttest_indResult(statistic=array([2.58416588]), pvalue=array([0.00994891]))

Ta-da! This Indonesia case also shows that null-hypothesis is rejected and alternative-hypothesis is accepted due to the P-value.  
The P-value is pretty small enough to reject the null-hypothesis. It is almost 0.9%.

**CONCLUSION**

As the extension of Capstone 1, we have checked the impact of China's ban on NRWP for other countries, Thailand and Indonesia.  
The T-test results of both countries explicitly tell that the ban had impacted the NRWP amount of both countries in 2018.