In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
data = pd.DataFrame()

In [3]:
data['name'] = ['Greg', 'Marcia', 'Peter', 'Jan', 'Bobby', 'Cindy', 'Oliver']
data['age'] = [14, 12, 11, 10, 8, 6, 8]

In [29]:
data['age'].mean()

9.857142857142858

In [10]:
data['age'].median()

10.0

In [11]:
data['age'].mode()

0    8
dtype: int64

In [46]:
data.age.var()

7.476190476190475

In [19]:
np.var(data['age'], ddof=1)

7.476190476190475

In [18]:
np.mean(data['age'])

9.857142857142858

In [20]:
np.median(data.age)

10.0

In [23]:
import statistics as st

In [31]:
st.mode(data['age'])

8

In [25]:
st.mode(data.age)

8

In [33]:
np.std(data.age, ddof=1)

2.734262327610589

In [40]:
se = np.std(data.age, ddof=1) / np.sqrt(len(data.age))
se

1.0334540197243192

In [53]:
data['age'] = [14, 12, 11, 10, 8, 7, 8]

In [56]:
np.mean(data.age)

10.0

In [58]:
data.age.mean()

10.0

In [59]:
data.age.median()

10.0

In [63]:
np.std(data.age,ddof=1)

2.516611478423583

In [64]:
st.mode(data.age)

8

In [68]:
se_2 = np.std(data.age, ddof=1) / np.sqrt(len(data.age))
se_2

0.9511897312113418

In [69]:
data.age.var()

6.333333333333333

In [70]:
data['name'] = ['Greg', 'Marcia', 'Peter', 'Jan', 'Bobby', 'Cindy', 'Jessica']
data['age'] = [14, 12, 11, 10, 8, 7, 1]

In [73]:
data.age.var(ddof=1)

18.0

In [74]:
data.age.mean()

9.0

In [77]:
data.age.std()

4.242640687119285

In [80]:
data.age.mode()

0     1
1     7
2     8
3    10
4    11
5    12
6    14
dtype: int64

In [81]:
import statistics as st

In [82]:
st.mode(data.age)

StatisticsError: no unique mode; found 7 equally common values

In [83]:
np.median(data.age)

10.0

In [85]:
# Question 5
df = pd.DataFrame()
df['name'] = ['TV Guide', 'Entertainment Weekly', 'Pop Culture Today', 'SciPhi Phanatic']
df['fans'] = [20, 23, 17, 5]

In [86]:
df.fans.describe()

count     4.000000
mean     16.250000
std       7.889867
min       5.000000
25%      14.000000
50%      18.500000
75%      20.750000
max      23.000000
Name: fans, dtype: float64